@font-face {
    font-family: 'BwSurco';
    src: url('../static/fonts/BwSurcoDEMO-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BwSurcoMedium';
    src: url('../static/fonts/BwSurcoDEMO-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BwSurcoBold';
    src: url('../static/fonts/BwSurcoDEMO-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body {
    background-color: #fff5e6;
    font-family: 'BwSurco';
}

.uk-navbar-item, .uk-navbar-nav > li > a, .uk-navbar-toggle {
    font-family: 'BwSurcoBold';
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'BwSurco, Helvetica, sans-serif';
}

a {
    color: #c40022;
}

a:hover {
    color: #000;
    text-decoration: none;
}

.up {
    position: fixed;
    display: block;
    outline: none !important;
    right: 20px;
    bottom: 40px;
    z-index: 1000;
}

.up-icon {
    width: 48px;
    height: 48px;
    background: #eaeaea url('../static/images/icons/scroll.svg') no-repeat 50% 46%;
    display: block !important;
    cursor: pointer;
    border-radius: 100px;
}

i.up-icon:hover {
    background: #b6b6b6e0 url('../static/images/icons/scroll.svg') no-repeat 50% 46%;
}

.news-feed {
    padding-top: 40px;
}

.news-feed-title {
    font-size: 1.5rem;
}

.news-item div{
    font-size: .75rem;
}

.news-item a {
   font-size: .875rem;
   border-bottom: 1px solid; 
}

a.header-link {
    text-decoration: none;
    color: #000;
}

a.header-link:hover {
    color: #c40022;
}

.uk-padding-custom {
    padding: 40px 20px 40px 0px;
}

.uk-custom-cart {
    width: 275px;
}

.uk-custom-nav li a {
    min-height: 47px;
}

.content {
    max-width: 1366px; 
    margin: 0 auto; 
    position: relative;
}

.content-filters {
    font-size: 1rem;
}

.phone-number {
    font: 700 2.25rem/2.25rem, BwSurco, Helvetica, sans-serif;
    color: #360300;
    position: relative;
}

.phone-number-support {
    color: #c40022;
}

.clearfix {
    height: 50px;
}

#footer-menu div img {
    width: 62px;
    height: 80px;
}