@font-face {
    font-family: 'BwSurco';
    src: url('../static/fonts/BwSurcoDEMO-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BwSurcoMedium';
    src: url('../static/fonts/BwSurcoDEMO-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BwSurcoBold';
    src: url('../static/fonts/BwSurcoDEMO-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'icons';
    src: url('../static/fonts/icons.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@media screen and (max-device-width: 374px) {
    .logo-link {
        display: block;
        width: 33px;
        height: 20px;
        background-image: url(../static/images/logo_sign.svg);
        background-size: cover;
        margin-left: 30%;
    }
    .uk-padding-custom {
        width: 98%;
    }
    .options {
        flex: unset !important;
        margin-top: 20px !important;
    }
    .info-tooltip div span:last-child {
        white-space: normal !important;
        font-size: 12px !important;
    }
    .info-tooltip.uk-drop {
        width: 165px !important;
    }
}

@media screen and (max-device-width: 960px) {
    .uk-grid-column-small {
        margin-left: 0px;
    }
}

@media screen and (max-device-width: 1280px) {
    .uk-padding-custom {
        padding: 40px 0px 40px 0px !important;
    }
}

@media screen and (min-device-width: 374px) {
    .logo-link {
        display: block;
        width: 110px;
        height: 20px;
        background-image: url(../static/images/logo_text_new.svg);
        background-size: cover;
        margin-left: 17%;
    }
    .mobile-menu-icon {
        padding-top: 2px !important;
        cursor: pointer;
    }
}

body {
    background-color: #fff5e6;
    font-family: 'BwSurco';
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'BwSurco, Helvetica, sans-serif';
}

a {
    color: #c40022;
}

a:hover {
    color: #000;
    text-decoration: none;
}

.uk-navbar-item, .uk-navbar-nav > li > a, .uk-navbar-toggle {
    font-family: 'BwSurco';
    color: #360300 !important;
}
.uk-navbar-container:not(.uk-navbar-transparent) {
    background: #fff;
}

li.uk-active a{
    color: #c40022 !important;
}

li.uk-parent a:hover {
    color: #c40022 !important;
}

/* .main-menu ul {
    width: 1366px;
}

.main-menu ul li:not(:first-child) {
    display: block;
    width: 100%;
    white-space: nowrap;
} */

.menu a {
    font-size: 1.125rem !important;
    text-transform: none !important;
}

.menu-filters a {
    font-size: 1rem !important;
    text-transform: none !important;
}

.mobile-menu-icon {
    float: left;
    padding-top: 5px;
    padding-right: 10px;
    cursor: pointer;
}

.mobile-menu-bar {
    background: #360300;
}

.mobile-points {
    padding: 10px;
    background-color: rgb(241, 180, 25);
    /* color: #360300; */
}

.mobile-cart-number {
    position: absolute;
    background-color: #c40022;
    margin-left: 5px;
    margin-top: -10px;
}

.mobile-price {
    font-weight: bold;
    color: #360300;
    padding-left: 8px;
}

.up {
    position: fixed;
    display: block;
    outline: none !important;
    right: 20px;
    bottom: 40px;
    z-index: 1000;
}

.up-icon {
    width: 48px;
    height: 48px;
    background: #eaeaea url('../static/images/icons/scroll.svg') no-repeat 50% 46%;
    display: block !important;
    cursor: pointer;
    border-radius: 100px;
}

i.up-icon:hover {
    background: #b6b6b6e0 url('../static/images/icons/scroll.svg') no-repeat 50% 46%;
}

.news-feed {
    padding-top: 40px;
}

.news-feed-title {
    font-size: 1.5rem;
}

.news-item div{
    font-size: .75rem;
}

.news-item a {
   font-size: .875rem;
   border-bottom: 1px solid; 
}

a.header-link {
    text-decoration: none;
    color: #000;
}

a.header-link:hover {
    color: #c40022;
}

div.uk-card-media-top {
    width: 100%;
}

div.uk-card-media-top div.uk-position-top {
    top: -0.3px;
}

div.uk-card-media-top div.uk-position-top a {
    font: 500 0.875rem/1.375rem 'BwSurcoMedium', 'Helvetica', sans-serif;
    color: #444;
    padding: 5px 10px;
    background-color: #fff;
    z-index: 1;
}

div.uk-card-media-top img {
    width: 100%;
    cursor: zoom-in;
}

div.uk-card-media-top .uk-overlay-default {
    background: rgba(255,255,255,0.9);
}

div.uk-card-media-top .item-ingredients {
    overflow-y: scroll;
    margin-top: 30px;
}

div.uk-card-media-top .item-ingredients p {
    padding: 0 20px;
    font: 0.875rem/1.375rem 'BwSurco', 'Helvetica', sans-serif;
    color: #444;
}

.uk-padding-custom {
    padding: 40px 20px 40px 0px;
}

.uk-custom-cart {
    max-width: 301px;
    min-width: 270px;
    /* float: right; */
}

.uk-custom-cart > span {
    font: 1.25rem 'BwSurco', 'Helvetica', sans-serif;
    color: #360300;
    display: block;
    padding-top: 20px;
    padding-left: 20px;
}

.uk-custom-cart .cart-total, .cart-button, .cart-info-actions {
    padding-left: 20px;
}

.uk-custom-cart div.cart-total span:first-child {
    font-size: 0.875rem;
}

.uk-custom-cart div.cart-total span:not(:first-child) {
   display: block;
   font: 500 2.25rem/2.25rem 'BwSurcoMedium', 'Helvetica', sans-serif;
   color: #c40022;

}

.uk-custom-nav li a {
    min-height: 47px;
}

.uk-card-custom-body {
    padding: 17px 17px;
}

.cart-item-group {
    display: block;
    width: 100%;
    padding: 10px 0px 1px 0px !important;
    color: #444;
    font-size: 1rem;
}

.cart-item-group div.cart-item-name {
    color: #c40022;
}

.cart-item-group div.cart-item-description {
    font-size: 0.875rem;
}

.cart-item-group div.cart-item-number {
    position: absolute;
    display: table;
    right: 0;
    margin-top: -44px;
    margin-right: 5px;
    width: 30%;
}

.cart-item-group div.cart-item-number input {
    width: 16px;
    font-size: 0.8em;
    text-align: center;
    padding: 0.25em 0.4em 0.3em;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    top: -.35em;
}

.cart-item-group div.cart-item-number span {
    display: inline-block;
    width: 16px;
    height: 16px;
    font-size: 0;
    text-decoration: none;
    background-color: #666;
    margin: 3px 0 0;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    vertical-align: top;
}

.cart-item-group div.cart-item-number span.remove-item {
    background-color: #c40022;
}

.cart-item-group div.cart-item-number span.remove-item::after {
    width: 8px;
    height: 2px;
    font-size: 0;
    background: #fff;
    position: absolute;
    content: "";
    display: inline-block;
    left: 4px;
    top: 7px;
}

.cart-item-group div.cart-item-number span.add-item {
    background-color: #367b36;
}

.cart-item-group div.cart-item-number span.add-item:before {
    width: 2px;
    height: 8px;
    font-size: 0;
    background: #fff;
    position: absolute;
    content: "";
    display: inline-block;
    left: 7px;
    top: 4px;
}

.cart-item-group div.cart-item-number span.add-item:after {
    width: 8px;
    height: 2px;
    font-size: 0;
    background: #fff;
    position: absolute;
    content: "";
    display: inline-block;
    left: 4px;
    top: 7px;
}

.cart-item-group ul {
    padding-left: 20px;
    margin-top: 0;
}

.cart-item-group ul li {
    list-style-type: none;
    display: block;
    padding-top: 5px;
}

.cart-item-group > span {
    padding-left: 20px;
}

.cart-item-group:hover {
    background-color: #feede7;
    /* opacity: 0.8; */
}

.cart-info-actions {
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 0.75rem;
}

.cart-info-actions span {
    margin-left: 3px;
    margin-right: 3px;
}

.cart-link {
    text-decoration: underline;
    color: #222 !important;
}

.cart-link:hover {
    text-decoration: underline;
    color: #c40022 !important;
}

.content {
    max-width: 1366px; 
    margin: 0 auto; 
    position: relative;
}

.content-promo {
    background-color: #fff;
    padding-top: 30px;
}

.content-promo h2 {
    color: #360300;
    border-bottom: 1px dashed #360300;
    display: inline;
    font-family: 'BwSurco', 'Helvetica', sans-serif;
}

.content-promo div.uk-card img {
    border-radius: 10px;
}

.content-promo .promo-title {
    font-family: 'BwSurcoMedium', 'Helvetica', sans-serif;
    font-size: 22px;
    color: #d93600;
    padding-top: 5px;
}

.content-promo div.uk-card .uk-badge {
    background: #993914;
}

/* Для страницы вакансии */

.content-offers .special-offer {
    border: 2px dashed #c7c6c6;
}

.content-offers .special-offer div:not(:first-child) {
    margin-bottom: 15px;
}

.content-offers ul.uk-subnav .uk-active a {
    background-color: #f2b419;
    color: #fff !important;
}

.content-offers div.position-name a {
    font: 700 1.3em 'BwSurco', 'Helvetica', sans-serif;
    color: #9b3916;
}

.content-offers div.position-name a:hover {
    color: #c40022;
}

.content-offers div.work-time {
    margin-top: 10px;
    color: #000;
    font-size: 0.8em;
}

.content-offers div.salary {
    color: #000;
    font-size: 1.1em;
    margin-bottom: 15px;
}

a.callback-button {
    font: 1.1em 'BwSurco', 'Helvetica', sans-serif;
    color: #fff;
    text-decoration: none;
    background: #d93600;
    padding: .4em .7em;
    margin: 10px 0 0;
    border: 2px solid #fc6e2e;
    border-radius: 13px;
    transition: all .2s ease-out;
    cursor: pointer;
}

a.callback-button:hover {
    background: #fd6d2e;
}

.description-item {
    color: #000;
    font: 0.875rem/1.25rem 'BwSurco', 'Helvetica', sans-serif;
    padding-bottom: 30px;
}

.add-custom-button {
    color: #fff;
    background-color: #c40022;
    text-align: center;
    padding: 6px 25px 8px;
    font: 1.125rem 'BwSurco', 'Helvetica', sans-serif;
    text-transform: unset;
    border: none;
    outline: 0 !important;
    cursor: pointer;
}

.add-custom-button:hover {
    background: #fd6d2e;
}

.prices {
    padding: 10px 7px;
}

.prices sup {
    font: 0.875rem/0.875rem 'BwSurco', 'Helvetica', sans-serif;
    text-decoration: line-through;
    color: #777;
}

.prices span {
    font: 500 1.125rem/1.125rem 'BwSurcoMedium', 'Helvetica', sans-serif;
    color: #000;
}

.cart-button {
    margin-top: 25px;
}

.cart-button button.uk-button {
    font: 1.25rem 'BwSurco', 'Helvetica', sans-serif;
    padding: 8px 20px;
}

.header-content {
    margin-top: 17px;
    /* padding-left: 10px;
    padding-right: 10px; */
}

.logo {
    padding-top: 1%;
    padding-left: 10px;
}

.slogan {
    padding-top: 13px;
    padding-left: 17%;
    width: 380px;
}

.sign-block {
    padding-right: 5%;
}

.sign-in {
    height: 22px;
}

.sign-in img {
    width: 20px;
    height: 16px;
}

/* Иконка */
.sign-in a span {
    vertical-align: middle;
    font: 1.125rem 'BwSurco', Helvetica, sans-serif;
    color: #000;
}



.phone-number {
    height: 50px;
}

.phone-number a {
    font-weight: 700;
    font-stretch: normal;
    font-size: 2.25rem;
    font-family: 'BwSurcoBold', Helvetica, sans-serif;
    white-space: nowrap;
    color: #360300;
    position: relative;
}

.phone-number-support a{
    display: block;
    font: 700 1.25rem/1.25rem 'BwSurcoBold', Helvetica, sans-serif;
    color: #c40022;
    height: 15px;
}

.phone-number-support span {
    font: 500 0.75rem/0.75rem 'BwSurcoBold', Helvetica, sans-serif;
    color: #c40022;
}

.clearfix {
    height: 10px;
}

#schedule {
    font: 500 1.125rem 'BwSurcoMedium', 'Helvetica', sans-serif;
    color: #222;
    margin-left: 10%;
}

#schedule ul.special {
    padding-top: 0px !important;
}

#schedule ul {
    padding-left: 0px;
    padding-top: 10px;
}

#schedule ul li {
    padding-top: 3px;
    list-style: none;
}

#schedule ul li span:first-child {
    width: 50px;
    display: inline-block;
}

#schedule ul.special {
    color: #c40022;
}

#footer-menu div img {
    width: 62px;
    height: 80px;
}

#footer-menu div ul li {
    height: 24px;
}

#footer-menu div ul li a{
    color: #360300 !important;
    font-size: .875rem;
}

.footer-phone {
    font: 500 1.5rem 'BwSurcoMedium', 'Helvetica', sans-serif;
    color: #222;
}

.footer-phone + h2 {
    font: 500 .875rem 'BwSurcoMedium', 'Helvetica', sans-serif;
    padding: 0;
    margin: 0;
    color: #000;
    margin-top: 10px;
}

div#copyright {
    font: 500 .875rem 'BwSurco', 'Helvetica', sans-serif;
    padding: 0;
    margin: 0;
    color: #000;
}

#copyright a {
    color: #000;
    text-decoration-line: underline;
}

#copyright a:hover {
    text-decoration-line: unset;
}

.social-links {
    display: -ms-flexbox;
    -ms-flex-pack: center;
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

.social-links a {
    width: 24px;
    height: 24px;
    background: url('../static/images/icons/sprite-social-icons.svg') no-repeat;
    text-decoration: none;
    margin: 0 10px;
    border-radius: 50%;
    overflow: hidden;
    transition: transform 0.2s ease-out;
}

.social-links a:hover{
    transform: scale(1.3);
}

.icon-vk {
    background-position: 100% 100% !important;
}

.icon-fb {
    background-position: 0 0 !important;
}

.icon-instagram {
    background-position: 0 100% !important;
}

.icon-flamp {
    background-position: 100% 0 !important;
}

.custom-icon {
    position: relative;
    display: block;
}

.custom-icon:before {
    display: inline-block;
    font-family: 'icons';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    font-size: 1.4em;
    -webkit-font-smoothing: antialiased;
}

.item-head div:first-child {
    display: block;
    float: left;
    font: 500 1.25rem 'BwSurcoMedium', 'Helvetica', sans-serif;
    color: #360300;
    padding: 0 0 5px;
}

.item-head a {
    color: #000;
    width: 19px;
    font-size: 15px;
    vertical-align: text-bottom;
}

.item-head a:hover, .item-head a:focus {
    color: #fff;
    background-color: #373535;
    /* background-color: #c40022; */
    border-radius: 50%;
}

.info-tooltip.uk-drop {
    width: 223px;
}

.info-tooltip div {
    font-family: 'Helvetica' !important;
    color: #fff !important;
    background-color: #373535;
    padding: 10px 10px !important;
    border-radius: 8px;
}

.info-tooltip div span:first-child {
    font-size: 15px;
    font-weight: bold;
}

.info-tooltip div span:last-child {
    white-space: nowrap;
    font-size: 13px;
}

.info-tooltip div span ul {
    margin-top: 10px;
}

.item-pack {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    padding-left: 10px;
}

.item-pack div {
    margin: 0 8px 0 0;
}


.item-control {
    position: absolute;
    display: flex;
    left: 0;
    bottom: 10px;
    padding: 10px 10px;
}

.item-body {
    margin-bottom: 75px !important;
}

.sizes ul {
    padding-left: 0px;
    padding-top: 5px;
}

.sizes ul li, .options ul li {
    list-style-type: none;
    list-style-position: initial;
}

.sizes ul li:not(:first-child) {
    padding-top: 5px;
}

/* Размеры ----------------------------------------------------------------------------------------- */

.sizes ul li label {
    white-space: nowrap;
    color: #360300;
    font: 1rem/1.25rem 'BwSurco', 'Helvetica', sans-serif;
    vertical-align: text-bottom;

    display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 23px;
	margin-right: 0;
	line-height: 18px;
	user-select: none;
}

.sizes ul li label:before {
    content: "";
	display: inline-block;
	width: 14px;
	height: 14px;
	position: absolute;
	left: 0;
	bottom: 1px;
    border: 1px solid #777;
    border-radius: 60%;
}

.sizes label:hover:before {
    filter: brightness(120%);
    /* border-color: #c40022; */
    /* border-color: #f2b419; */
}

.options input[type="radio"]:disabled + label:before {
    filter: grayscale(100%);
}

.sizes input[type="radio"]:checked + label:after {
    width: 8px;
    height: 8px;
    background: #c40022;
    border-radius: 50%;
    position: absolute;
    content: "";
    display: block;
    left: 4px;
    top: 5px;
}

.sizes ul li input[type="radio"] {
    display: none;
}

/* Борта у пиццы или другие опции -----------------------------------------------------------------*/
.options {
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    white-space: nowrap;
}

.options ul {
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #000;
    font-size: 0.875rem;
}

.options ul li:not(:first-child) {
    padding-top: 5px;
}

.options input[type="checkbox"] {
    display: none;
}

.options label {
    display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 23px;
	margin-right: 0;
	line-height: 18px;
	user-select: none;
}

.options label:before {
    content: "";
	display: inline-block;
	width: 12px;
	height: 12px;
	position: absolute;
	left: 0;
	bottom: 1px;
    border: 1px solid #ccc;
    top: 2px;
}

.options input[type="checkbox"]:disabled + label:before{
    filter: grayscale(100%);
}

.options input[type="checkbox"]:checked + label:after {
    width: 17px;
    height: 13px;
    /* border-radius: 50%; */
    background: url('../static/images/icons/ok.svg') no-repeat;
    position: absolute;
    content: "";
    display: block;
    left: 1px;
    top: 3px;
}

/* ----------------------------------------------------------------------------- */



/* .sizes ul li label:before {
    width: 8px;
    height: 8px;
    background: #777;
    border-radius: 50%;
    position: absolute;
    content: "";
    display: block;
    left: 4px;
    top: 6px;
}

.sizes ul li label:after {
    width: 14px;
    height: 14px;
    border: 1px solid #777;
    border-radius: 50%;
    position: absolute;
    content: "";
    display: block;
    left: 0;
    top: 2px;
}

.sizes ul li input {
    box-sizing: border-box;
    padding: 0;
    position: absolute;
    visibility: hidden;
    left: 0;
    top: 0;
} */

.icon-new:before {
    color: red;
    content: "\EA06";
}

.icon-meat:before {
    color: #bb6764;
    content: "\EA05";
}

.icon-chicken:before {
    color: #efa050;
    content: "\EA02";
}

.icon-sausage:before {
    color: #bb6764;
    content: "\EA08";
}

.icon-pepper:before {
    color: #d8232a;
    content: "\EA07";
}

.icon-carrot:before {
    color: #e7792b;
    content: "\EA01";
}

.icon-fish:before {
    color: #efa489;
    content: "\EA04";
}


